<footer>
	<div class="pull-right">
		Sistemas de Informação 2017/2018 (FEUP)
	</div>
	<div class="clearfix"></div>
</footer>

<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
